<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleAllowMixedLocalizations</key>
<string>true</string>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleDocumentTypes</key>
<array>
<dict>
<key>CFBundleTypeExtensions</key>
<array>
<string>guide</string>
</array>
<key>CFBundleTypeMIMETypes</key>
<array>
<string>text/x-aguide</string>
</array>
<key>CFBundleTypeName</key>
<string>Amigaguide Document</string>
<!-- TODO: Add icon.
<key>CFBundleTypeIconFile</key>
<string>Amigaguide.icns</string>
-->
<key>CFBundleTypeRole</key>
<string>Viewer</string>
</dict>
</array>
<key>CFBundleExecutable</key>
<string>JavaApplicationStub</string>
<key>CFBundleGetInfoString</key>
<string>0.1 Copyright Thomas Aglassinger. Distributed under GNU GPL.</string>
<key>CFBundleIconFile</key>
<string>Grotag.icns</string>
<key>CFBundleIdentifier</key>
<string>net.sf.grotag</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>Grotag</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>0.1</string>
<key>Java</key>
<dict>
<key>ClassPath</key>
<array>
<string>$JAVAROOT/Grotag.jar</string>
<string>$JAVAROOT/libquaqua.jnilib</string>
<string>$JAVAROOT/quaqua.jar</string>
<!-- TODO: Add possible JARs.
<string>$JAVAROOT/MRJAdapter.jar</string>
-->
</array>
<key>JVMVersion</key>
<string>1.5+</string>
<key>MainClass</key>
<string>net.sf.grotag.MacGrotag</string>
<key>VMOptions</key>
<string>-enableassertions</string>
<key>Properties</key>
<dict>
<key>apple.laf.useScreenMenuBar</key>
<string>true</string>
<key>swing.defaultlaf</key>
<string>ch.randelshofer.quaqua.QuaquaLookAndFeel</string>
</dict>
</dict>
</dict>
</plist>
